@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: rgb(0,1,26);
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}

.screen-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.col1 {
    width: 65%;
    height: 100%;

}
.col1-inner {
    margin-left: 7vw;
}
.col1 h1 {
    font-size: 85px;
    color: white;
}
.col2 {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.overview {
    padding: 10px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.card {
    height: 8vh;
    width: 30vh;
    background-color: rgb(1,3,46);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 15px;
    padding: 20px;
    box-shadow: 5px 5px 50px rgba(0, 1, 31, 0.45);
}

.col2wrap {
    height: 95vh;
    width: 100%;
    background-color: rgb(1,3,46);
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    box-shadow: -5px 10px 50px rgba(0, 1, 31, 0.45);
}

.navBar {
    width: 6vw;
    height: 96vh;
    margin: 2vh auto;
    float: left;
    position: absolute;
    z-index: 99;
    background-color: rgb(1,3,46);
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 5px 5px 50px rgba(0, 1, 31, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.blink {
    height: 5px;
    width: 40px;
    background-color: crimson;
}
.card-text {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-text h1 {
    width: 60%;
 font-size: 35px;
 color: #ffffff;
 text-align: left;
 margin: 0px;
}
.card-text h2 {
    margin-top: 10px;
    padding-top: 10px;
    width: 40%;
    font-size: 17px;
    color: #ffffff;
    text-align: right;
    margin: 0px;
}
.red {
    background-color: red;
}
.grey {
    background-color: grey;
}
.green {
    background-color: green;
}
.orange {
    background-color: orange;
}
.card-red:hover {
    background-color: red;
    transform: scale(1.1);
    transition-duration: 0.8s;
}
.card-grey:hover {
    background-color: grey; 
    transform: scale(1.1);
    transition-duration: 0.8s;
}
.card-green:hover {
    background-color: green;
    transform: scale(1.1);
    transition-duration: 0.8s;
}
.card-orange:hover {
    background-color: orange;
    transform: scale(1.1);
    transition-duration: 0.8s;
}
.chart-div {
    height: 100%;
    padding: 20px;
}

.menu-link {
    transform: rotate(-90deg);
    color: #ffffff;
    font-size: 22px;
    font-weight: 800;
    height: 40px;
    outline: none;
    text-decoration: none;
    background-color: rgb(1,3,46);
    border: none;
    margin: 40px;
    padding: 1px;
    position: relative;
}
.chart-wrapper {
    width: 94%;
    position: relative;
    background: rgb(0,1,26);
    padding: 1px;
    max-width: 900px;
    border-radius: 20px;
    margin: 0px;
    border: 0px solid #009;
  }
  
  #chart-bar {
    position: relative;
    margin-top: -38px;
  }
  .countryhead {
      color: #fff;
      font-size: 17px;
      width: 90%;
      max-width: 500px;
      text-align: center;
      margin: 0 auto;
      margin-top: 50px;
  }
  .countryselected {
      color: #bbb;
      width: 90%;
      font-size: 12px;
      max-width: 500px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 5px;
  }
  .country-list {
      height: 80vh;
      color: #fff;
      overflow-y: scroll;
      width: 90%;
      max-width: 500px;
      margin: 30px auto;
      margin-top: 10px;
      border-radius: 20px;
      background-color: rgb(1,3,46);
      border: 2px solid rgb(0,1,26);
      box-shadow: 5px 5px 50px rgba(0, 1, 31, 0.45);
      -ms-overflow-style: none; /* IE and Edge */
       scrollbar-width: none; /* Firefox */
  }
  .country-list::-webkit-scrollbar {
    display: none;
  }
  .country-name {
      width: 100%;
      color: #fff;
      outline: none;
      text-decoration: none;
      background-color: rgb(1,3,46);
      font-size: 13px;
      display: flex;
      margin: 3px;
      cursor: pointer;
      border: none;
  }
  .country-name:focus {
      background-color: rgb(0,0,29);
  }
  .list-col1 {
      width: 20%;
      height: 32px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
  }
  .list-col2 {
    width: 60%;
    height: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.list-col3 {
    width: 20%;
    height: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}